body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif; 
}

.contain {
    height: 100vh;
    width: 100%;
}

.single {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-section-class-p-a {
    text-decoration: none;
    color: #0D6E90;
    border-bottom-color: #0D6E90;
    border-bottom-style: dashed;
}

