.main-section {
    background: #fff;
    padding: 0 200px;
    margin: 0 auto;
    max-width: 1200px;
    height: 520px;     
}

.fkover {
    font-weight: bold;
}

.main-section-div-h2 {
    text-align: center;
}