/* Frontend styling starts here! */
/* Table of contents: 

    01 - Header
    |___ Header section
    |___ Navbar

    02 - Main
    |___ Section 1
    |___ Section 2
    |___ Section 3
    |___ Section 4
    |___ Section 5
    |___ Section 6
    |___ Section 7
    |___ Section 8

    03 - Footer
    |___ Copyright
    |___ Social icons

    04 - Shared elements
    |___ Fonts
    |___ Buttons
    |___ Input fields
*/

/* 01 - Header */

header {
    margin: 0 auto;
    position: relative;
    width: 1200px; 
    height: 510px;   
    overflow: auto;
}

header h1 {
    color: #fff;
}

.header-section {
    position: relative;
    height: auto;
    padding: 0 200px;
    margin: 0 auto;     
}

.bg-gradient {
    background: linear-gradient(to top right, #44af68, #008D4C);
}

.navbar {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #444;
    text-decoration: none;
    transition: 0.5s;
}

.navbar ul {
    list-style: none;    
    text-align: right;    
}

.navbar li {
    display: inline;
    margin-right: 1em; 
    
}

/* End of 01 - Header */

/* 02 - Main */

main {
    width: 1200px;
    margin: 0 auto;
}

.section1 {
    background: #fff;
    padding: 0 200px;
    margin: 0 auto 40px auto;
    height: 270px;
}

.section2 {
    background: #44af68;
    color: #fff;
    padding: 0 200px;
    margin: -40px auto 0 auto;
    height: 405px;
}

.section-content {
    margin-top: 70px;     
    text-align: left;
}

.section2-img {
    margin-left: 150px;
}

.section3 {
    background: #fff;
    padding: 0 200px;
    margin: 0 auto -10px auto;
    height: 400px;      
    
}

.section4 {
    background: url(/img/stadion-section-small.jpg);
    background-size: cover;
    color: #fff;
    padding: 0 200px;
    margin: 0 auto;
    height: 270px;
    font-style: italic;
    text-align: center;
    
}

.section5 {
    background: #44af68;
    padding: 0 200px;
    margin: -10px auto 0 auto;
    height: 330px;    
    text-align: center;
    color: #fff;
}

.section6 {
    background: #fff;
    padding: 0 200px;
    margin: 0 auto;
    height: 510px;
}

.section7 {
    background: #44af68;
    padding: 0 200px;
    margin: -10px auto 0 auto;
    height: 270px;
    text-align: center;
    color: #fff;

}

.section8 {
    background: #fff;
    padding: 0 200px;
    margin: -10px auto 0 auto;
    height: 270px;
    text-align: center;
}


/* End of 02 - Main */

/* 03 - Footer */

footer {
    background: #fff;    
    margin: 0 auto 0 auto;
    border-top: 1px solid #E8E8E8;
    height: 60px;
    width: 1200px;
    font-size: 14px;
    position: relative;
}

.copyright {
    color: #444;
}

.social a {
    color: #444;
    text-decoration: none;
}

.social ul {
    list-style: none;    
    text-align: right;    
}

.social li {
    display: inline;
    margin-right: 0.2em; 
    
}

#twitter:hover {
    color: #3EC6EA;
}

#facebook:hover {
    color: #3954A1;
}

#instagram:hover {
    color: #BE368D;
}

#googleplus:hover {
    color: #DD5044;
}

#youtube:hover {
    color: #FF0000;
}

/* End of 03 - Footer */

/* 04 - Shared elements */

body {
    margin: 0;
    background: #F4F4F5;
       
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif; 
}

img {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.btn-white {
    background-color: #fff;
    border: none;
    color: #4CAF50;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    margin: 4px 4px;
    font-size: 16px;
    border-radius: 99px;

}

.btn-green {
    background-color: #008D4C;
    border: none;
    color: #fff;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    margin: 4px 4px;
    font-size: 16px;
    border-radius: 99px;
}

.btn-green:hover {  
    background: #444;  
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-green-email {
    background-color: #008D4C;
    border: none;
    color: white;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    margin: 4px 4px;
    font-size: 16px;
    border-radius: 0 99px 99px 0;
}

.btn-green-email:hover {  
    background: #444;  
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.email {
    border: none;
    border-radius: 99px 0 0 99px;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    margin-right: -10px;
}

button:focus {
    outline: none;
}

button a {
    color: #fff;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.full-width {
    position: relative;   
    padding: 50px 10px 10px 10px;
    width: calc(100% - 20px);
    margin: 10px;
    
}

.one-third {
    position: relative;
    box-sizing: border-box;    
    padding: 10px;
    width: calc(70% - 20px);
    margin: 10px;
    float: left;  
}

.one-fifty {
    position: relative;
    box-sizing: border-box;    
    padding: 0;
    width: calc(100% - 20px);
    margin: 10px;
    float: left;
    text-align: center;
}

@media (min-width: 768px) {
    .one-fifty {
        width: calc(50% - 20px);
    }

    .one-third {
        width: calc(33.33% - 20px);
        height: 100%;
    }   

    .one-third img {
        bottom:40px;
    }

}

@media (max-width: 767px) {

    .section3 {
        height: 630px;
    }

    .section1 {
        height: 520px;
    }

    .one-third {
        width: 100%;      
    }
    
    .one-third img {
        bottom: 0;
    }

    .section2 {
        height: 665px;
    }

    .section2-img {
        margin-left: 0;
    }

    .copyright {
        margin-left: 30px;
    }

}

/* End of 04 - Shared elements */
/* End of frontend styling! */