.tinted-image {
    background: #44af68;
    color: #fff;
    padding: 0 200px;
    margin: 0 auto;
    height: 270px;
    font-style: italic;
    text-align: center;
    
    background: 
      /* top, transparent green */ 
      linear-gradient(
        rgba(18, 92, 25, 0.8), 
        rgba(18, 92, 25, 0.8)
      ),
      /* bottom, image */
      url(/img/stadion-section-small.jpg);
  }

  .imageMoses {
      border-radius: 50%;
      position: absolute;
      
      right:15px;
  }

  /* 195px * 345px */