.tinted-image {
    background: #44af68;
    color: #fff;
    padding: 0 200px;
    margin: 0 auto;
    height: 270px;
    font-style: italic;
    text-align: center;
    
    background: 
      /* top, transparent red */ 
      linear-gradient(
        #125c19bf, 
        #125c19bf
      ),
      /* bottom, image */
      url(/img/stadion-section-small.jpg);
  }