/* Frontend styling starts here! */
/* Table of contents: 

    01 - Header
    |___ Navbar
    |___ Header section

    02 - Main
    |___ Section 1
    |___ Section 2
    |___ Section 3
    |___ Section 4
    |___ Section 5
    |___ Section 6
    |___ Section 7
    |___ Section 8

    03 - Footer
    |___ Copyright
    |___ Social icons

    04 - Shared elements
    |___ Fonts
    |___ Buttons
    |___ Input fields
*/

/* 01 - Header */

header {

}

.navbar {
    color: #fff;
}

.header-section {

}

/* End of 01 - Header */

/* 02 - Main */

.section1 {

}

.section2 {

}

.section3 {

}

.section4 {

}

.section5 {

}

.section6 {

}

.section6 {

}

.section7 {

}

.section8 {

}


/* End of 02 - Main */

/* 03 - Footer */

footer {

}

.copyright {

}

.social {

}

/* End of 03 - Footer */

/* 04 - Shared elements */

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url(/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Nunito', sans-serif;
    src: url(/fonts/Nunito/Nunito-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}

.btn-white {

}

.btn-green {

}

.one-third {

}

.two-third {

}

.one-fifty {
    position: relative;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    float: left;
}

@media (min-width: 768px) {
    .one-fifty {
        width: calc(50% - 20px);
    }

    .one-third {

    }

    .two-third {
        
    }
}

/* End of 04 - Shared elements */
/* End of frontend styling! */

/* AdminLTE customization */

img.teaming-logo-small {
    width: 70%;
    max-width: 50px;
}

img.teaming-logo-normal {
    width: 70%;
    max-height: 50px;
}

img.teaming-logo-medium {
    width: 70%;
    max-height: 100px;
}

.login-box {
    margin: 1% auto;
}

.green-text {
    color: #008d4c;
}

/* End of AdminLTE customizaton */